@mixin make-scrollable {
  @media (pointer: fine) {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(var(--c-1), 0.42);
      border-radius: 4px;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba(var(--c-1), 0.85);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(var(--c-3), 0.42);
    }
    scrollbar-width: thin;
  }
}
